.why {
    background-color: #FAFAF9;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.why-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}

.why-header h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-transform: capitalize;
}

.why-header p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    padding: 0 1em;
}

.why-boxes {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   /* align-items: center; */
   gap: 1em;
}

.box {
    display: flex;
    gap: 0.8em;
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    width : 310px;
}

.box img {
    background-color: #E7EBD6;
    padding: 0.5em;
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.box-content h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 0.4em;
}

.box-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    width: 240px;
}


@media only screen and (min-width: 1340px){
.why {
    background-color: #FAFAF9;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.why-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}

.why-header h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-transform: capitalize;
}

.why-header p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    width: 611px;
}

.why-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.box {
    display: flex;
    gap: 0.8em;
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    width: 340px;
    height: 121px;
}

.box img {
    background-color: #E7EBD6;
    padding: 0.5em;
    height: 38px;
    width: 38px;
    border-radius: 5px;
}

.box-content h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 0.4em;
}

.payments {
    height: 140px;
}

.box-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    width: 240px;
}
}